/.psci_modules/
/.psci
bower_components/*
!bower_components/react/
bower_components/react/*
!bower_components/react/react.js
!bower_components/react/LICENSE
!bower_components/react/PATENTS
/node_modules/
.cabal-sandbox
cabal.sandbox.config
