body {
  font-family: 'Roboto', sans-serif;
  color: rgb(29, 34, 45);
  overflow-y: scroll; 
}

.container-fluid {
  padding: 0;
}

.header {
  background-color: rgb(29, 34, 45);
  padding: 40px;
  color: white;
}

.body {
  padding: 40px;
}

h1 {
  font-size: 3em;
  font-weight: 300;
}

a, a:visited, a:active, a:hover {
  color: #c4953a;
}

pre {
  border: 0;
  border-radius: 0;
  border-left: 3px solid rgb(152, 152, 152);
  margin: 10px;
}

.keyword, .syntax {
    color: #a0a0a0;
}

.ident {
    color: #2020f0;
}