[Unit]
Description=Web service for hosting of PureScript API documentation

[Service]
Type=simple
User=www-data
ExecStart=/var/www/pursuit/pursuit +RTS -N1 -A128m -M1.5G -RTS
Restart=always
RestartSec=5s
Environment="PURSUIT_APPROOT=https://pursuit.purescript.org"
Environment="PURSUIT_HOST=127.0.0.1"
Environment="PURSUIT_PORT=3000"
Environment="PURSUIT_DATA_DIR=/var/www/pursuit/data"
Environment="PURSUIT_MINIMUM_COMPILER_VERSION=0.10.0"
EnvironmentFile=/var/www/pursuit/secrets

[Install]
WantedBy=multi-user.target
